<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sweetness</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>

    <!--Navbar-->
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">SweetNess</a>
        </div>
      </nav>
    </div>
    <!--the Navdar-->
        <header class="p-3 bg-dark text-white">
            <div class="container">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                  <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>
    <!--Menu-->
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="{% url 'home' %}" class="nav-link px-2 text-secondary">Home</a></li>
                    {% for category in categories %}
                  <li><a href="{% url 'list' category.slug %}" class="nav-link px-2 text-white">Product</a></li>
                    {% endfor %}
                  <li><a href="{% url 'cart_detail' %}" class="nav-link px-2 text-white">Cart</a></li>
                </ul>
 <a href="{% url 'cart_detail' %}"><img style="width:30px; height:auto " src="{% static 'img/carts.png' %}"></a>
                  <!--   Permission to create -->
    {% if request.user.is_authenticated and request.user.is_superuser  %}
    <a href="{% url 'create-product' %}"><img style="width: 36px; height: auto;" src="{% static 'img/add.png' %}"></a>
    {% endif %}
<!--    End permission to create -->
   <!--   Search -->
    <form class="d-flex" method="get" action="{% url 'search' %}">
      <input name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
<!--    End Search-->

    <!--Start Login and Sing-up -->
              {% if not request.user.is_authenticated  %}
                <div class="text-end">
                  <button type="button" class="btn btn-outline-light me-2"><a href="{% url 'login' %}">Login</a></button>
                  <button type="button" class="btn btn-warning"> <a href="{% url 'register' %}">Sing Up</a></button>
                {% else %}
                    <h4>{{ request.user.username }}</h4>
                    <button type="button" class="btn btn-outline-light me-2"><a href="{% url 'logout' %}">Logout</a></button>
                {%endif%}
              </div>
    <!--     the Login and Sing-up-->
            </div>
          </header>
    <div class="container">
        {% block content %}{% endblock %}
    </div>

</body>
</html>